.all-questions-main-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .all-questions-hero {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .all-questions {
    gap: 80px;
    width: 100%;
    display: flex;
    max-width: 1440px;
    align-items: center;
    padding-top: 176px;
    border-color: #B4B9C6;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: column;
    padding-bottom: 96px;
    justify-content: center;
    border-bottom-width: 1px;
  }
  .all-questions-heading {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .all-questions-h2 {
    color: var(--dl-color-primaryteal-vibrantblue);
    font-size: 56px;
    max-width: 600px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
  }
  .all-questions-paragraph {
    font-size: 22px;
    max-width: 700px;
    text-align: center;
    line-height: 27px;
  }
  .all-questions-grid {
    gap: 48px;
    flex: 1;
    width: 100%;
    display: grid;
    max-width: 1440px;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
  }
  .all-questions-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F7;
  }
  @media(max-width: 1200px) {
    .all-questions-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media(max-width: 991px) {
    .all-questions1-hero {
      flex: 1;
    }
    .all-questions {
      padding-top: 160px;
    }
    .all-questions-item {
      height: auto;
    }
  }
  @media(max-width: 767px) {
    .all-questions1-hero {
      height: 709px;
    }
    .all-questions {
      padding-top: 144px;
      padding-bottom: 96px;
    }
    .all-questions-heading {
      gap: var(--dl-space-space-unit);
    }
    .all-questions-h2 {
      font-size: 32px;
    }
    .all-questions-paragraph {
      font-size: 14px;
      max-width: 100%;
      line-height: 24px;
      margin-bottom: -32px;
    }
    .all-questions-grid {
      gap: 32px;
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  /* ------------------------- */
  /*  Filter Box */
  .quesion-sent-filter-box {
    display: flex;
    align-items: center;
  }
  #quesion-sent-subject {
    display: inline-block;
    vertical-align: middle;
    font-size: 16.5px;
  }
  .all-questions-filterm {
    display: inline-block;
    vertical-align: middle;
    gap: 24px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    padding-left: 12px;
  }
  .all-questions-submit {
    background-color: var(--dl-color-primaryteal-tealblue);
  }
  
  
  /* ------------------------- */
  /*  Question Box */
  .question-box {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    display: flex;
    position: relative;
    max-width: 270px;
    align-items: center;
    flex-direction: column;
  }
  .all-questions-box {
    width: 100%;
  }
  .question-box-content {
    flex: 1;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-twoandhalfunits);
    max-width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .question-box-question {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 16px;
  }
  .question-box-details {
    gap: 2px;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .question-box-date {
    color: var(--dl-color-gray-500);
  }
  .question-box-user {
    font-size: 18.5px;
    font-style: normal;
    font-weight: 500;
  }
  .question-box-subject {
    font-size: 19.5px;
    font-style: normal;
    margin-top: 12px;
    font-weight: 600;
  }
  .question-box-question-text {
    color: var(--dl-color-gray-black);
    font-size: 22px;
  }
  .question-box-check-answer {
    margin-top: 16px;
  }
  .question-box-check-span {
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .question-box-check-image {
    width: 12px;
    object-fit: cover;
  }
  .question-box-check-root-class-name {
    max-width: 100%;
  }
  @media(max-width: 1200px) {
    .question-box-question-text {
      font-size: 20px;
    }
  }
  @media(max-width: 991px) {
    .question-box-content {
      padding: var(--dl-space-space-twounits);
    }
    .question-box-question-text {
      font-size: 18px;
    }
  }
  @media(max-width: 767px) {
    .question-box-date {
      font-size: 10px;
      line-height: 15px;
    }
  }