.question-main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.question-hero {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.question-questions {
  gap: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 176px;
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-bottom: 96px;
}
.question-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-content {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F7;
}
.new-answer-box {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom-color: var(--dl-color-primaryteal-bordercolor);
  border-bottom-width: 1px;
}
.question-answer {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 16px;
}
.answer-text {
  fill: var(--dl-color-primaryteal-navyblue);
  color: var(--dl-color-primaryteal-navyblue);
  font-size: 32px;
  font-style: normal;
  margin-top: 16px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 8px;
}
.answer-textarea {
  width: 100%;
  height: 200px;
  border-color: #e8e8e8;
  border-width: 0.75px;
  background-color: #f3f3f3;
}
.answer-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.answer-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-answer-sent {
  width: 45%;
  align-self: center;
  margin-top: 16px;
  background-color: var(--dl-color-subduedred-coralred);
}
@media(max-width: 1200px) {
}
@media(max-width: 991px) {
  .question1-hero {
    flex: 1;
  }
  .question-content {
    height: auto;
  }
  .new-answer-box {
    gap: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .question1-hero {
    height: 709px;
  }
  .question-questions {
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
  }
  .question-heading {
    gap: var(--dl-space-space-unit);
  }
  .answer-text {
    font-size: 30px;
    line-height: 36px;
  }
}
@media(max-width: 479px) {
}


/* ------------------------- */
/*  Question Box */
.question-box {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
}
.question-box-content {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-primaryteal-bordercolor);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #ebebed;
  border-bottom-width: 1px;
}
.question-box-question {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 16px;
}
.question-box-details {
  gap: 2px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.question-box-date {
  color: var(--dl-color-gray-500);
}
.question-box-user {
  font-size: 18.5px;
  font-style: normal;
  font-weight: 500;
}
.question-box-subject {
  font-size: 19.5px;
  font-style: normal;
  margin-top: 12px;
  font-weight: 600;
}
.question-box-question-text {
  color: var(--dl-color-gray-black);
  font-size: 24px;
}
@media(max-width: 991px) {
  .question-box-content {
    gap: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .question-box-question-text {
    font-size: 18px;
  }
}
@media(max-width: 767px) {
  .question-box-date {
    font-size: 10px;
    line-height: 15px;
  }
}


/* ------------------------- */
/*  Answer Box */
.answer-box {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
}
.answer-box-content {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom-color: var(--dl-color-primaryteal-bordercolor);
  border-bottom-width: 1px;
}
.answer-box-answer {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 16px;
}
.answer-box-details {
  gap: 2px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.answer-box-date {
  color: var(--dl-color-gray-black);
}
.answer-box-user {
  font-size: 18.5px;
  font-style: normal;
  font-weight: 500;
}
.answer-box-answer-text {
  color: var(--dl-color-gray-black);
  font-size: 22px;
}
@media(max-width: 991px) {
  .answer-box-content {
    gap: var(--dl-space-space-twounits);
    padding: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .answer-box-answer-text {
    font-size: 18px;
  }
}
@media(max-width: 767px) {
  .answer-box-date {
    font-size: 10px;
    line-height: 15px;
  }
}